/*
Project Name: Relaxr Blog
Client: Relaxr
Author: Margaux Le Pierres
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}



.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #033048;
     font-size: 24px;
     line-height: 1.4;
     font-weight: 300;
     font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #033048;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 1200px;
  margin: auto;
  background-color:#EFEFEE;
}

#content {
  width: 960px;
  margin: 100px auto;
}



/* Section 1: HEADER; */

header {
  background-color: #033048;
  width: 1200px;
  padding: 45px 100px;
  display: inline-block;
}


h1 {
  font-weight: 800;
  font-size:40px;
  color: #FFF;
}

header h1 {
  float: left;
}


nav {
  float: right;
  margin-top: 15px;
}

.nav li {
  display: inline;
  font-weight: 600;
  color: #f9e42e;
  padding-right: 40px;
}



/* Section 2: Articles; */

#articles {
  width: 700px;
  float: left;
  margin-right: 20px;
}

article {
  border-bottom: 1px solid #033048;
  margin-bottom: 50px;
}

article:last-child {
  margin-bottom: 150px;
}


h2 {
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  margin-bottom: 30px;
}

.thumb {
  margin-bottom: 30px;
  
}

article p {
  color: #000;
  opacity: .6;
  margin-bottom: 30px;
}

.more {
  font-weight: 600;
  float: right;
  margin-bottom: 50px;
}


/* Section 3: ASIDE; */

aside {
  width: 240px;
  float: left;
}

#aside {
  margin-bottom: 60px;
}

h3 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 30px;
}

aside a {
  font-weight: 300;
}



.learn {
  font-weight: 600;
}
/* Section 4: SIGN UP; */


.signup {
  background: #f9e42e;
  padding: 50px 0px;
}

#btn {
  border-radius: 5px;
  padding: 15px 70px;
  width: 305px;
  margin: 0 auto;
  background:#033048;
}

#btn p {
  font-weight: 800;
  color: #FFF;
  text-align: center;
}

/* Section 6: FOOTER; */

footer {
  height: 395px;
  background: black;
  padding: 70px 0px;
}

footer h1{
  color: #f9e42e;
  text-align: center;
  padding: 0px;
}

.social {
  width: 107px;
  margin: 0 auto;
  padding: 80px 0px;
}

footer img {
  padding:10px;
  display: inline-block;
}


footer p {
  font-size: 9px;
  color: #FFF;
  text-align: center;
}




